<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5e4c91fa-85b7-4cdf-8eb6-bf792337dbb9/resourcegroups/rg-diplom4/providers/Microsoft.Web/sites/BlzWApp4Server20210822141003S1</ResourceId>
    <ResourceGroup>rg-diplom4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blzwapp4server20210822141003s1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>fd07226f-035d-44da-9617-7b81f42f9a38</ProjectGuid>
    <PublishUrl>https://blzwapp4server20210822141003s1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlzWApp4Server20210822141003S1</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>